section {
    display: flex;
    background-color: rgb(194, 194, 194);
}

body {
    margin: 0;
    font-family: sans-serif;
  }

header {
    background: rgb(65, 65, 65);
    height: 100px;
  }

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

article {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(29, 29, 29);
    background: aqua;
    border-radius: 8px;
  }

article:nth-of-type(3) {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
}

article:nth-of-type(3) div:first-child {
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    flex: 1;
    margin: 2px;
    font-size: 18px;
    line-height: 1.5;
}


button:nth-of-type(5){
    flex: 3 200px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
