body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
header {
      background: rgb(65, 65, 65);
      text-align: center;
      color: white;
      padding: 20px;
      margin: 0;
    }

section {
    display: flex;
    background-color: rgb(194, 194, 194);
    flex-direction: row;
    flex-flow: wrap;

}

article {
    padding: 20px;
    margin: 10px;
    border: 1px solid #03709b;
    background: #9fccf1;
    border-radius: 8px;
    flex: 2
  }

article:nth-of-type(3) {
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-flow: column;
}

.cont1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cont2{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

button {
    flex: 1;
    margin: 5px;
    font-size: 18px;
    line-height: 2;
    border-radius: 8px;
}